@font-face
  font-family: "Neue Montreal"
  src: url('~/assets/fonts/NeueMontrealRegular.eot?') format("eot"), url('~/assets/fonts/NeueMontrealRegular.woff') format("woff"), url('~/assets/fonts/NeueMontrealRegular.ttf') format("truetype")

@font-face
  font-family: "Neue Montreal Light"
  src: url('~/assets/fonts/NeueMontrealLight.eot?') format("eot"), url('~/assets/fonts/NeueMontrealLight.woff') format("woff"), url('~/assets/fonts/NeueMontrealLight.ttf') format("truetype")

@font-face
  font-family: "Neue Montreal Medium"
  src: url('~/assets/fonts/NeueMontrealMedium.eot?') format("eot"), url('~/assets/fonts/NeueMontrealMedium.woff') format("woff"), url('~/assets/fonts/NeueMontrealMedium.ttf') format("truetype")

@font-face
  font-family: "Neue Montreal Bold"
  src: url('~/assets/fonts/NeueMontrealBold.eot?') format("eot"), url('~/assets/fonts/NeueMontrealBold.woff') format("woff"), url('~/assets/fonts/NeueMontrealBold.ttf') format("truetype")
